<html>
 <head>  <link rel="icon" 
      type="image/png" 
      href="images/horse_mustang.png">
   <title>Equestria</title>
   <link rel="stylesheet" type="text/css" href="Day_8_homework/views/css/equestria.css">
 </head>
 <body>
<div class="row">
      <ul class="nav">
          <li><a href="/Profile.rhtml">Profile</a></li>
          <li><a href="/Market.rhtml">Market</a></li>
          <li><a href="/Circuit.rhtml">Circuit</a></li>
          <li>
           <input type="email" placeholder="user name" />
           <button>Log in</button>
       
          </li>
      </ul>
</div>
</body>
 </html>