<html>
 <head>  <link rel="icon" 
      type="image/png" 
      href="images/horse_mustang.png">
   <title>Equestria</title>
   <link rel="stylesheet" type="text/css" href="equestria.css">
 </head>
<body>

</body>
</html>